.label {
     -fx-alignment: center;
     -fx-background-color: #000000;
     -fx-text-fill: #ffffff;
     -fx-font-weight: bolder;
}

.card-label-hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,5,5 );
    -fx-cursor: hand;
}

.trumpf {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 10px;
}